In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from statsmodels.discrete.discrete_model import Logit
from statsmodels.tools.tools import add_constant

In [19]:
cell_df = pd.read_csv('cell_infusion.csv')

In [20]:
cell_df['p_unb'] = cell_df['thrived'] / cell_df['N']

In [22]:
cell_df.head(10)

   thrived    N  ratio  time     p_unb
0        5   31      1     1  0.161290
1       15   77      2     1  0.194805
2       48  126      3     1  0.380952
3       29   92      4     1  0.315217
4       11   53      5     1  0.207547
5        3   28      1     2  0.107143
6       36   78      2     2  0.461538
7       68  116      3     2  0.586207
8       35   52      4     2  0.673077
9       20   52      5     2  0.384615

In [23]:
cell_df = pd.concat([cell_df,
                     pd.get_dummies(cell_df['ratio'], drop_first=True, prefix='ratio')], axis=1)
cell_df = pd.concat([cell_df,
                     pd.get_dummies(cell_df['time'], drop_first=True, prefix='time')], axis=1)
cell_df

,thrived,N,ratio,time,p_unb,ratio_2,ratio_3,ratio_4,ratio_5,time_2,time_3,time_4,time_5
0,5,31,1,1,0.161290,0,0,0,0,0,0,0,0
1,15,77,2,1,0.194805,1,0,0,0,0,0,0,0
2,48,126,3,1,0.380952,0,1,0,0,0,0,0,0
3,29,92,4,1,0.315217,0,0,1,0,0,0,0,0
4,11,53,5,1,0.207547,0,0,0,1,0,0,0,0
5,3,28,1,2,0.107143,0,0,0,0,1,0,0,0
6,36,78,2,2,0.461538,1,0,0,0,1,0,0,0
7,68,116,3,2,0.586207,0,1,0,0,1,0,0,0
8,35,52,4,2,0.673077,0,0,1,0,1,0,0,0
9,20,52,5,2,0.384615,0,0,0,1,1,0,0,0
10,20,45,1,3,0.444444,0,0,0,0,0,1,0,0
11,43,71,2,3,0.605634,1,0,0,0,0,1,0,0
12,145,171,3,3,0.847953,0,1,0,0,0,1,0,0
13,57,85,4,3,0.670588,0,0,1,0,0,1,0,0
14,20,48,5,3,0.416667,0,0,0,1,0,1,0,0
15,24,47,1,4,0.510638,0,0,0,0,0,0,1,0
16,56,71,2,4,0.788732,1,0,0,0,0,0,1,0
17,98,119,3,4,0.823529,0,1,0,0,0,0,1,0
18,38,50,4,4,0.760000,0,0,1,0,0,0,1,0
19,40,55,5,4,0.727273,0,0,0,1,0,0,1,0
20,29,35,1,5,0.828571,0,0,0,0,0,0,0,1
21,66,74,2,5,0.891892,1,0,0,0,0,0,0,1
22,114,129,3,5,0.883721,0,1,0,0,0,0,0,1
23,72,77,4,5,0.935065,0,0,1,0,0,0,0,1
24,52,61,5,5,0.852459,0,0,0,1,0,0,0,1

In [24]:
dummy_cols = [col for col in cell_df.columns if (('ratio_' in col) | ('time_' in col))]
logit_mod = Logit(cell_df['p_unb'], 
                  add_constant(cell_df[dummy_cols])).fit()
logit_mod.summary()

Optimization terminated successfully.
         Current function value: 0.458053
         Iterations 6

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/numpy/core/fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                  p_unb   No. Observations:                   25
Model:                          Logit   Df Residuals:                       16
Method:                           MLE   Df Model:                            8
Date:                Fri, 11 Oct 2019   Pseudo R-squ.:                  0.2932
Time:                        09:56:54   Log-Likelihood:                -11.451
converged:                       True   LL-Null:                       -16.203
Covariance Type:            nonrobust   LLR p-value:                    0.3017
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         -2.0457      1.487     -1.376      0.169      -4.960       0.868
ratio_2        0.9201      1.461      0.630      0.529      -1.944       3.784
ratio_3        1.5586      1.523      1.023      0.306      -1.426       4.543
ratio_4        1.3648      1.499      0.910      0.363      -1.573       4.303
ratio_5        0.5543      1.446      0.383      0.702      -2.281       3.389
time_2         0.9129      1.413      0.646      0.518      -1.857       3.683
time_3         1.5855      1.429      1.109      0.267      -1.216       4.387
time_4         2.1878      1.497      1.462      0.144      -0.745       5.121
time_5         3.2628      1.780      1.833      0.067      -0.226       6.752
==============================================================================
"""

In [25]:
cell_df['logit_pred'] = logit_mod.predict()
cell_df[['thrived', 'N', 'p_unb', 'logit_pred']].round(2)

    thrived    N  p_unb  logit_pred
0         5   31   0.16        0.11
1        15   77   0.19        0.24
2        48  126   0.38        0.38
3        29   92   0.32        0.34
4        11   53   0.21        0.18
5         3   28   0.11        0.24
6        36   78   0.46        0.45
7        68  116   0.59        0.60
8        35   52   0.67        0.56
9        20   52   0.38        0.36
10       20   45   0.44        0.39
11       43   71   0.61        0.61
12      145  171   0.85        0.75
13       57   85   0.67        0.71
14       20   48   0.42        0.52
15       24   47   0.51        0.54
16       56   71   0.79        0.74
17       98  119   0.82        0.85
18       38   50   0.76        0.82
19       40   55   0.73        0.67
20       29   35   0.83        0.77
21       66   74   0.89        0.89
22      114  129   0.88        0.94
23       72   77   0.94        0.93
24       52   61   0.85        0.85